.container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #1d2b3a;
}

.inputBox {
    position: relative;
    width: 260px;
}

.inputBox input {
    width: 100%;
    padding: 12px;
    border: 1px solid #808080;
    background-color: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.inputBox span {
    position: absolute;
    top: 10%;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 16px;
    color: #aaaaaa;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #aaaaaa;
    transform: translateX(10px) translateY(-10px);
    font-size: 10px;
    padding: 0 10px;
    background-color: #1d2b3a;
}